@import "reset";

$font-stack: "Lato", sans-serif;

body {
  box-sizing: border-box;
  font-family: $font-stack;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid rgb(223, 226, 230);

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1152px;
    margin: 0 auto;
    height: 4rem;
  }

  .nav__img {
    height: 1.5rem;
  }

  .nav__menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav__menu-item {
    padding: 0 15px;
  }

  .nav__menu-item::before {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 0;
    background: #4463ec;
    transition: width 0s ease-in-out;
    left: 0;
    bottom: 3px;
  }

  .nav__menu-item:hover {
    transform: translateY(2%);
  }

  .nav__menu-item:hover::before {
    width: 100%;
  }

  .nav__menu-submenu-item {
    position: relative;
    display: block;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    cursor: pointer;
  }

  .nav__menu-link {
    position: relative;
    color: rgb(128, 115, 192);
    margin: 0px 0px 2rem;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .nav__menu-link:hover {
    color: #4463ec;
  }

  @media screen and (max-width: 1025px) {
    .nav__logo {
      margin-top: 5px;
      margin-left: 30px;
    }

    .nav__img {
      height: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .nav__logo {
      margin-top: 5px;
      margin-right: auto;
      margin-left: 20px;
    }

    .nav__menu {
      margin-left: auto;
    }

    .nav__img {
      height: 1rem;
    }

    .nav__menu-item {
      padding: 0 2px;
    }

    .nav__menu-submenu-item {
      padding: 5px;
    }

    .nav__menu-submenu-item:last-child {
      margin-right: 10px;
    }

    .nav__menu-link {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 321px) {
    .nav__logo {
      margin-left: 10px;
    }
    .nav__menu-submenu-item:last-child {
      margin-right: 0px;
    }

    .nav__menu-item:last-child {
      margin-right: 10px;
    }

    .nav__menu-item {
      padding: 0;
    }
  }

  @media screen and (max-width: 319px) {
    .nav__container {
      justify-content: center;
      margin-bottom: 10px;
    }

    .nav__logo {
      margin: 0 auto;
      padding: 10px 0;
    }

    .nav__menu-item {
      padding: 0 15px;
    }

    .nav__menu {
      margin-left: 0;
    }
  }
}

.main {
  padding-top: 4rem;
  background-color: #eee;
  overflow: hidden;

  .main__container {
    max-width: 1216px;
    background-color: rgb(242, 244, 249);
    margin: 0 auto;
  }

  .title {
    padding: 3rem 3rem;
  }

  .title__text {
    font-size: 3rem;
    line-height: 56px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .title__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .input__second {
    display: flex;
    justify-content: flex-end;
  }

  input,
  select {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
  }

  input,
  select {
    transition: all 0.3 ease-in-out;
    outline: none;

    border: 1px solid #dddddd;
  }

  input:focus,
  select:focus,
  input:hover,
  select:hover {
    box-shadow: 0 0 5px rgb(81, 154, 238);

    border: 1px solid rgba(81, 154, 238, 1);
  }

  .form__control {
    display: block;
    height: 30px;
    padding: 0 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #dropdown {
    min-width: 270px;
  }

  #search {
    min-width: 340px;
  }

  .trendings__container,
  .shows__container,
  .lastepisodes__container {
    padding: 2rem 3rem;
  }

  .trendings__title,
  .shows__title,
  .lastepisodes__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 1.5em;
  }

  .trendings__cards,
  .shows__cards,
  .lastepisodes__cards {
    display: grid;
    gap: 30px 23px;
    grid-template-columns: repeat(10, 1fr);
  }

  .trendings__card,
  .shows__card,
  .lastepisodes__card {
    grid-column: span 2;
  }

  .trendings__card-cover,
  .shows__card-cover,
  .lastepisodes__card-cover {
    max-height: 205px;
    max-width: 205px;
    position: relative;
  }

  .trendings__img,
  .shows__img,
  .lastepisodes__img {
    width: 100%;
    height: 205px;
  }

  .trendings__card-cover:hover .cover,
  .lastepisodes__card-cover:hover .cover {
    opacity: 1;
  }

  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(66, 65, 65, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.25s linear;
    opacity: 0;
  }

  .cover-img img {
    filter: brightness(0.5);
  }

  .cover-img img:hover {
    filter: brightness(1);
  }

  .trendings__card-desc,
  .shows__card-desc,
  .lastepisodes__card-desc {
    margin-top: 5px;
    font-size: 14px;
  }

  .trendings__card-desc:hover,
  .shows__card-desc:hover,
  .lastepisodes__card-desc:hover {
    color: rgb(81, 154, 238);
  }

  .shows__img:hover {
    filter: brightness(0.5);
  }

  .lastepisodes {
    position: relative;
  }

  button {
    position: absolute;
    top: 40%;
    right: 1.5%;
    display: inline;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  .lastepisodes__container {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 1025px) {
    .trendings__title,
    .shows__title,
    .lastepisodes__title {
      text-align: center;
    }

    .trendings__cards,
    .shows__cards,
    .lastepisodes__cards {
      grid-template-columns: repeat(3, 1fr);
    }

    .trendings__card,
    .shows__card,
    .lastepisodes__card {
      grid-column: span 1;
    }

    .trendings__card-cover,
    .shows__card-cover,
    .lastepisodes__card-cover {
      max-width: 601px;
      max-height: 601px;
    }
  }

  @media screen and (max-width: 767px) {
    .title {
      padding: 3rem 2rem;
    }

    .title__form {
      justify-content: center;
    }

    #dropdown {
      min-width: 150px;
    }

    #search {
      min-width: 150px;
    }

    .trendings__title,
    .shows__title,
    .lastepisodes__title {
      text-align: center;
    }

    .input__first {
      padding-bottom: 15px;
    }

    .trendings__card,
    .shows__card,
    .lastepisodes__card {
      grid-column: span 10;
    }

    .trendings__card-cover,
    .shows__card-cover,
    .lastepisodes__card-cover {
      max-width: 601px;
      max-height: 601px;
    }

    .trendings__card-desc,
    .shows__card-desc,
    .lastepisodes__card-desc {
      text-align: center;
    }
  }

  @media screen and (max-width: 319px) {
    .trendings__cards,
    .shows__cards,
    .lastepisodes__cards {
      display: grid;
      gap: 30px 23px;
      grid-template-columns: repeat(9, 1fr);
    }

    .trendings__card,
    .shows__card,
    .lastepisodes__card {
      grid-column: span 9;
    }
  }
}

.footer {
  background-color: rgb(35, 30, 41);
  color: #fff;

  a:hover {
    text-decoration: underline;
  }

  .footer__container {
    max-width: 1216px;
    margin: 0 auto;
  }

  .footer__wrap {
    padding: 2rem 3rem;
  }

  .footer__logo {
    width: 130px;
    margin-right: auto;
    align-self: center;
  }

  .footer__img {
    width: inherit;
  }

  .footer__top-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__top-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
  }

  .footer__link {
    margin-bottom: 20px;
  }

  .footer__community-p {
    margin-bottom: 10px;
  }

  .footer__social {
    margin-top: 50px;
  }

  .footer__social-l {
    margin-right: 15px;
  }

  .footer__bot-section {
    margin-top: 55px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__policy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
  }

  @media screen and (max-width: 1025px) {
    .footer__policy {
      width: 40%;
    }
  }

  @media screen and (max-width: 767px) {
    .footer__logo {
      margin: 0 auto;
    }

    .footer__wrap {
      padding: 1rem;
    }

    .footer__top-right {
      width: 45%;
    }

    .footer__link {
      margin-bottom: 5px;
    }

    .footer__links {
      margin-bottom: 15px;
    }

    .footer__community-title {
      margin-bottom: 5px;
    }

    .footer__social {
      margin-top: 30px;
    }

    .footer__social-link {
      display: inline-block;
      margin-right: 5px;
    }

    .footer__bot-section {
      justify-content: center;
    }

    .footer__policy {
      width: 100%;
      justify-content: space-around;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 319px) {
    a,
    p,
    div {
      font-size: 14px;
    }

    .footer__logo {
      width: 110px;
    }

    .footer__bot-section {
      justify-content: center;
      margin-top: 30px;
    }

    .footer__copyrights {
      margin-bottom: 15px;
    }

    .footer__policy {
      width: 80%;
    }
  }
}
